<!-- <p class="text-center text-muted">© Copyright 2020 The Awesome People of OCIO / CEO / ET-DAB</p> -->
  <footer>
    <h2><a href="https://www.philab.cdc.gov/index.php/services/"><i>Nov 2020 - Another contribution from the awesome people of CEO/ET-DAB !!</i></a> </h2>
    <div id="tzine-actions">
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css"></script>
   </footer>