<meta charset = "utf-8" /> 
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title> 
    OSSAM's Wellness's Centers - Check-in 
</title> 
  
<!-- add icon link -->
<link rel="icon" type="image/ico" href="images/favicon.png" type = "image/x-icon" /> 
  
<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css" />

<!-- The main CSS file -->
<link href="css/style.css" rel="stylesheet" />

<style>body { padding-top:25px; }</style>
