<meta charset="UTF-8">
<meta charset = "utf-8" /> 
          
<title> 
<img src="images/favicon.png" alt="logo" />OSSSAM Wellness Centers - Check-in 
</title> 
  
<!-- add icon link -->
<link rel="icon" type="image/ico" href="images/favicon.png" type = "image/x-icon" /> 
  
<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css" />

<!-- The main CSS file -->
<link href="css/awesome.css" rel='stylesheet' /> 
<link href="css/style.css" rel="stylesheet" />
<style>
    body { padding-top:50px; }
</style>