<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/ico" href="favicon.ico" />
    <!-- The main CSS file -->
    <link href="css/style.css" rel="stylesheet" />

    <%- include('./partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('./partials/header'); %>
</header>

<main>
    <div class="classic">
        <p></p>
        <p>NOTE: This is a just a quick placeholder for potential future consideration.</p>

        <p>Example of potential check-in reports</p>
        <ul>
            <li>Overall Peek usage by facility</li>
            <li>Members Usage Summary for a given period</li>
            <li>Overall Room usage by specific day and time</li>
            </ul>
    </div>
</main>

<footer>
    <%- include('./partials/footer'); %>
</footer>

</body>
</html>